<h1>Welcome, <%= current_user.first_name %></h1>

<p>You have <%= current_user.points %> points!<p>
  
  <h2>Your Rewards: </h2>
  <ul>
    <% current_user.rewards.each do |reward| %>
    <li><h3><%= reward.name %></h3>
      <p><%= image_tag reward.image.url(:thumb) %></p></li>
    <% end %>
  </ul>